<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" id="task">
            <div class="row">
                <input type="text" placeholder="Doctername" name="doctorname">
                <input type="email" placeholder="Email" name="email">
            </div>
            <div class="row">
                <input type="password" placeholder="password" name="password">
                <input type="text" placeholder="specilityname" name="specilityname">
            </div>
            <div class="row">
                <input type="text" placeholder="experience" name="experience">
                <input type="text" placeholder="votes" name="votes"> 
            </div>
            <div class="row">
                <input type="text" placeholder="clinicfees" name="clinicfees">
                <input type="text" placeholder="days" name="days">
            </div>
            <div class="row">
                <input type="text" placeholder="TimeSlot" name="TimeSlot">
                <input type="text" placeholder="location" name="location">
            </div>
            <div class="row">
                <input type="text" placeholder="verification" name="verification">
                <input type="text" placeholder="review" name="review">
            </div>

            <div class="row">
            <input type="text" placeholder="devicetoken" name="devicetoken" >
            <input type="file" placeholder="image" name="doctorimage">    
            </div>
            <div>
                <input class="submit_button bg-primary addbtn" type="submit" name="" value="Upload">

            </div>
        </form>
    </div>
</body>
<script>
 $(document).ready(function(){  
    alert('application started');  

    getdata();  

    $('.addbtn').click(function(){  
         var task = $("#task").val();  
         alert('task1 added successfully');  

       $.ajax({  
           
           url:'/doctorRouter/doctorregister',  
           method:'post',  
           dataType:'json',  
           data:{'task':task},
             
           success:function(response){  
            alert('task3 added successfully');  

            if(response.msg=='success'){  
               alert('task added successfully');  
               window.location = "/doctorRouter/doctorregister";
               $('#task').val('')  
               }else{  
                   alert('some error occurred try again');  
               }  
           },  
           error:function(response){  
               alert('server error occured')  
           }  
       });  
    });
});  
  </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  </body>
  
</html>